/* Inventory container */
#inventory-container {
  flex: 1;
  background: #382418;
  margin-top: 4px;
  padding: 4px;
}

/* Inventory grid */
#inventory-slots {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  height: 200px;
}

/* Individual slot styling */
.inventory-slot {
  width: 46px;
  height: 28px;
  background: #474745;
  border: 1px solid #000;
  border-radius: 2px;
}