/* Spellbook Menu Styling */
#spellbook-menu {
  position: relative;
  width: calc(100% - 8px);
  background: #000; /* Black container */
  padding: 4px;
  display: none;
  margin-top: 4px;
  height: 200px;
}

#spellbook-menu.shown {
  display: block;
}

.spellbook-content {
  background: #000;
  border: 2px solid #5a473a;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.spell-slots {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2px;
  overflow-y: auto;
  flex: 1;
}

.spell-slot {
  width: 24px;
  height: 24px;
  background: #474745;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: inset 0 0 2px #000;
}