#worlds-menu {
  position: relative;
  width: calc(100% - 8px);
  background: #382418;
  padding: 4px;
  display: none;
  margin-top: 4px;
  height: calc(100% - 276px);
}

#worlds-menu.shown {
  display: block;
}

.worlds-content {
  background: #474745;
  border: 2px solid #5a473a;
  height: calc(100% - 4px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.worlds-header {
  position: relative;
  background: #474745;
  padding: 4px 8px;
  border-bottom: 2px solid #5a473a;
}

.worlds-header .title {
  font-size: 12px;
  color: cyan;
  margin: 0;
  padding: 0;
  text-align: left;
}

.worlds-header .current-world {
  font-size: 11px;
  color: #fff;
  margin: 2px 0 0 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.worlds-list {
  padding: 4px 8px;
  overflow-y: auto;
  flex: 1;
}

.world-entry {
  font-size: 11px;
  padding: 2px 0;
  cursor: pointer;
  color: #00ff00;
  text-decoration: none !important;
}

.world-entry.selected {
  color: cyan;
}

.world-entry:hover {
  opacity: 0.8;
}

.world-entry.unavailable {
  color: #808080;
  cursor: not-allowed;
}